# Environment variables
.env
.vscode/ 

CLAUDE.md
.codex

# programs database
git rm --cached -r program_databases
program_databases/
figures/gradopt_tests/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

*scratchpad.ipynb
*.txt
*.png
*.html

**test_output/**
**data_test/**
**scrap**