# Environment variables
.env
.vscode/ 

CLAUDE.md
.codex

# output folders to ignore
git rm --cached -r program_databases
program_databases/
figures/gradopt_tests/
test_output/
test_output*
sample_plots/
data_test

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editable-install metadata (`pip install -e .`)
*.egg-info/

*scratchpad.ipynb
